@font-face {
  font-family: 'Pixeled';
  src: url('../../dist/assets/fonts/uni.ttf'); /* IE9 Compat Modes */
  font-display: swap;
}

@import "abstracts/variables";

html body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

canvas {
  transform-origin: center;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  position: absolute;
}

.container {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
}

.center {
  display: table-cell;
  vertical-align: middle;
}

.game {
  margin: auto;
  text-align: left;
}
